/* Bootstrap Import */
@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar{
  /* background-image: linear-gradient(to right, rgb(17,115,239),  rgb(17,202,239)); */
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(245,54,92));
}

.form-control{
  width : 100%;
}

.blue-color{
  color : rgb(70,80,177)
}
.purple-color{
  color :rgb(114,74,157) 
}
.magenta-color{
  color :rgb(159,67,135) ;
}
.pink-color{
  color : rgb(201,61,114)
}
.coral-color{
  color : rgb(242,54,92);
}
.green-color{
  color : rgb(45,206,137);
}
.red-color{
  color :rgb(245,54,92) ;
}

.table-head{
  /* background-color: linear-gradient(to right, rgb(193, 192, 209), rgb(142, 137, 211)); */
  background-color: rgb(219,192,212);
}

.modal{
  padding-top: 5%;
  width: 100%;
}

.modal-header{
  background-color:  rgba(72, 81, 176, 0.877);
  color : white;
}

.text-field{
    margin: 10%;
}

.submit-button{
  width : 30%;
}


/* 
Thead{
  background-color: rgba(72, 81, 176, 0.877);
  color : white;
}

Td, Th{
  padding: 1%;
}

Tr{
  border-bottom-style  :  solid;
  border-color : rgb(224, 194, 201);  
} */

